@use "global";

.profileOverview {
    @include global.content-width();
    @include global.flex-display(row, wrap, space-between);

    h1 {
        width: 100%;
    }
}

.profileCard {
    background-color: global.$Yellow;
    border-radius: 15px;
    padding: 1.5rem;
    margin: 1rem;

    img {
        width: 100%;
        height: 100%;
        max-height: 250px;
        object-fit: cover;
        border-radius: 7px;
    }
}

#friendsList {
    @include global.flex-display(column, wrap);   
}

.friendCard {
    @include global.flex-display(row, wrap);
    gap: 1rem;
    background-color: global.$PalePink;
    border-radius: 10px;
    padding: 1.8rem;
    max-width: 70%;    
    margin: 2rem 0 0 1rem;
    
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;        
    }
}


//Når brukeren ikke er logget inn
.notLoggedIn{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding: 1rem 3rem;
    font-weight: global.$SemiBold;
    background-color: global.$PalePink;
    max-width: min-content;
    margin: 5rem auto;
    border-radius: 8px;
    form{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: global.$DarkBurgundy;
        align-items: flex-start;
        border: none;
    }
    h1{
        font-size: 1.7rem;
        min-width: 100%;
    }
    button{
        background-color: global.$Yellow;
        color: global.$Burgundy;
        font-weight: global.$SemiBold;
        border: none;
        padding: 1rem 2rem;
        border-radius: 8px;
        font-size: 1.1rem;
    }
    input{
        border-radius: 8px;
        border-style: none;
        min-height: 2rem;
    }
    input[type=text]:focus{
        outline: 2px solid global.$DarkMagenta;
    }
}

//PC
@media only screen and (min-width: 809px){
    .notLoggedIn{
        button:hover{
            background-color: global.$PaleYellow;
            cursor: pointer;
        }
        input{
            min-width: 30rem;
        }
    }
}

@media only screen and (max-width: 808px){
    .notLoggedIn{
        input{
            min-width: 15rem;
        }
    }
}