@use "global";

.eventCards{
    @include global.content-width();
    @include global.flex-display(row, wrap);
    
    h2 {
        width: 100%;
    }
}

.eventCard{
    position: relative;
    color: global.$DarkBurgundy;
    background-color: global.$Magenta;
    text-decoration: none;
    border-radius: 1rem;
    overflow: hidden;

    img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }
}

.favouriteButton {
    @include global.flex-display(row, nowrap, center, center);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 4%;
    z-index: 10;
    background-color: global.$White;
    cursor: pointer;
    padding: 0.8rem;

    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.evenCardInner {
    @include global.flex-display(column, wrap, space-between, flex-start);
    gap: 0.8rem;
    padding: 1.3rem;
    line-height: 1;

    h3{
        margin-top: -10px;
        font-size: 1.5rem;
    }
    
    .eventBtn{
        background-color: global.$Yellow;
        font-size: 1.2rem;
        padding: 0.6rem 1.2rem;
        border-radius: 30px;
        font-weight: 600;
        text-decoration: none;
        color: global.$DarkBurgundy;
    }
}

.eventDetail {
    img {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.5rem;
    }
    
    .bold {
        font-weight: 600;
    }
}