@use "global";

.filterLayout {
    @include global.flex-display(row, wrap, space-between, center, 2rem);

    background-color: global.$White;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 8px;

    form {
        @include global.flex-display(row, wrap, flex-start, flex-end, 0.8rem);
    }

    label {
        display: flex;
        flex-direction: column;
      }

    input[type], select {
        font-size: 1.1rem;
        padding: .5rem .5rem;
        border-color: #afafaf;
        border-radius: 3px;
        outline: none;
        border-style: solid;
    }

    input[type="date"] {
       
    }

    button {
        font-size: 1.2rem;
        font-weight: 600;
        background-color: global.$Yellow;
        border-radius: 50px;
        color: global.$DarkBurgundy;
        border: none;
        padding: 0.8rem 1.5rem;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1118px){
    form{
        border-bottom: 1px;
        border-color: #afafaf;
        border-style: none none solid none;
        padding-bottom: 1rem;
    }
}
