@use "global";

header {
    width: 100%;
    margin: 0 auto;
    font-family: global.$Exo2;
    background-color: global.$DarkMagenta;
}

.logo{
    font-weight: global.$Bold;
    font-size: 2.5rem;
}

.headerSection{
    @include global.content-width(2rem, 2rem, 1380px);
    @include global.flex-display(row, nowrap, space-between, center);
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    .classLink{
         a.active{
            background-color: global.$Yellow;
            color: global.$DarkBurgundy;
            border-radius: 50px;
        }
    }
    ul{
        display: flex;
        align-items: center;
    }
    li{
        list-style: none;
        
    }
    a{
        text-decoration: none;
        color: global.$Yellow;
        padding: 1rem;
    }
    .classLink, .linkButton, span, button{
        font-size: 1.5rem;
    }
    .linkButton{
        background-color: global.$PalePink;
        color: global.$Burgundy;
        border-radius: 40px;
    }
    button{
        background-color: #ffffff00;
        border: none;
        color: global.$PalePink;
    }
    span{
        padding: 1rem;
        color: global.$Yellow;
    }
}

//Mobil
@media only screen and (max-width: 808px){
    .headerSection{
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }
    header{
        ul{
            text-align: center;
            flex-direction: column;
            gap: 1rem;
        }

        .logo {
            margin-bottom: 1rem;
        }
        li{
            padding: 0.5rem;
        }
    }
}

//PC
@media only screen and (min-width: 809px){
    .headerSection{
        .classLink{
        a:hover{
            text-decoration: underline;
        }
    }
    .linkButton{
            margin: 1rem;
        }
        button:hover{
            text-decoration: underline;
        }
    }
    
}