@use "global";

.sanityEventDetails{
<<<<<<< HEAD
    display: flex;
    flex-wrap: wrap;
    img{
        min-width: 100%;
        max-height: 35rem;
        object-fit: cover;
        object-position: 100% 20%;
    }
=======
    @include global.content-width();
>>>>>>> 9790086bb420e1133d7c013769453ed3a63d626f
    h1, h2{
        padding: 3rem 2rem 0;
        width: 100%;
    }

    article{
        @include global.flex-display(column, wrap);
        gap: 1rem;
        padding: 2rem 2rem;
        font-weight: global.$SemiBold;
    }
}

.sanityGenre{
    background-color: global.$Yellow;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.sanityWishlist {
    @include global.flex-display(row, wrap, flex-start, stretch, 1.6rem);
    @include global.content-width();

    margin-bottom: 3rem;

    h1, h2{
        padding: 2rem 0;
        width: 100%;
    }

    .artistCard{
        max-width: 15rem;
        min-width: 15rem;
        max-height: 15rem;
        padding-bottom: 3rem;
    }
}
