@use "global";

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    min-height: 100vh;
    font-family: global.$Exo2;
    background-color: global.$White;
}

h1, h2, p {
    color: global.$DarkBurgundy;
}

p {
    line-height: 1.5;
    font-size: global.$text-m;
}

section {
    margin: 0 auto;
}
button{
    font-family: global.$Exo2;
}